body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	background: #222;
}

body {
	padding: 1em;
}

* {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.notMob {
	display: none;
}

#content {
	position: absolute;
	top: calc(50% - 6em);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center;
}

#logo {
	display: none;
	position: absolute;
	width: 40vw;
	top: 1em;
	left: 1em;
}

#content h1 {
	font-size: 9.5vw;
	font-weight: 700;
	margin-bottom: 0.3em;
}

#content h1 span {
	color: #fc0078;
}

#content p {
	padding-bottom: 1.2em;
	font-size: 4.6vw;
	text-transform: initial;
}

#content button {
	display: none;
	font-size: 110%;
	background: #fc0078;
	border-radius: 0.1em;
	padding: 0.5em;
	border: none;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 0;
	margin-bottom: -10em;
	width: 100%;
}

#content button:hover {
	cursor: pointer;
}

#moreInfoButton,
#quizButton {
	font-size: 83%;
	background: #fc0078;
	border-radius: 0.1em;
	padding: 0.5em;
	border: none;
	position: absolute;
	bottom: 2em;
	left: 50%;
	transform: translate(-50%,0);
}

#quizButton {
	bottom: initial;
	top: 2em;
}

#moreInfoButton:hover,
#quizButton:hover {
	cursor: pointer;
}

#rangeContainer {
	width: 100%;
	position: relative;
	top: 1.35em;
}

#price {
	position: absolute;
	bottom: 35px;
	display: none;
}

#priceText {
	position: relative;
	right: 37%;
	width: 5em;
	text-transform: lowercase;
	font-size: 3.1vw;
}

#triangle {
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #fc0078;
	border-radius: 4px;
	margin-top: 2px;
}

#range {
	width: 100%;
 	background: #fff;
 	border-radius: 2px;
 	height: 2em;
 	outline: none;
 	transition: background 450ms ease-in;
 	-webkit-appearance: none;
 	position: relative;
 	--slider-color: #654321;
}

#range::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: #654321;
	background-color: var(--slider-color);
	border-radius: 2px;
	height: 3em;
	width: 3em;
}

#labels {
	position: relative;
	width: 100%;
	top: 1em;
}

.label {
	position: absolute;
	width: 100%;
	z-index: 0;
}

.label.less span {
	color: #aaa;
}

.line {
	border-left: 2px solid #fff;
	height: 3em;
}

.label.intermediate {
	opacity: 0.5;
}

.label.intermediate .line {
	/*border: none;*/
	height: 2em;
}

.label.nosign .line {
	height: 1.35em;
}

.label.less .line {
	border-left: 2px solid #aaa;
}

.signature {
	position: absolute;
	transform: translate(-50%, 0%);
	left: 0;
	text-transform: lowercase;
}

#moreInfo,
#quiz {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	display: none;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

#close,
#close2 {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	font-size: 200%;
	transition: all 0.5s ease-in-out;
}

#close:hover,
#close2:hover {
	color: red;
	cursor: pointer;
	transform: rotate(360deg);
}

#moreInfo form {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#quiz form {
	position: relative;
	width: 70%;
	height: 100%;
	padding: 0 15%;
	overflow: scroll;
}

#quiz form h1 {
	text-align: center;
	margin-top: 1.5em;
}

#quiz form button {
	margin-bottom: 3em;
	opacity: 0.9;
	color:#ddd;
}


#quiz form button:hover {
	opacity: 0.9;
	color: #fff;
}

input[type=text] {
	border: none;
	background: none;
	border-bottom: 1px solid #ccc;
	font-size: 1.5em;
}

#moreInfo input,
#moreInfo button,
#moreInfo label[for=dataProcessing],
#quiz input,
#quiz button,
#quiz label[for=dataProcessing] {
	margin-top: 2em;
	padding: 0.5em 1em;
	box-sizing: border-box;
}

input:focus{
		outline: none;
}

#moreInfo label[for=dataProcessing] {
	padding-left: 0.25em;
	font-style: italic;
	color: #ddd;
	text-transform: lowercase;
}

/*select {
	background: none;
	border: none;
	border-radius: 5px;
	color: white;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
	-webkit-appearance: none;
	width: 100%;
	font-size: 1.5em;
	padding: 0.5em 1em;
	color: #bbb;
	border-bottom: 1px solid #ccc;
}
*/
.select-box {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 15px;
	color: #60666d;
	margin-top: 2em;
}
.select-box__current {
	position: relative;
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	outline: none;
}
.select-box__current:focus + .select-box__list {
	opacity: 1;
	-webkit-animation-name: none;
			animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
	cursor: pointer;
}
.select-box__current:focus .select-box__icon {
	-webkit-transform: translateY(-50%) rotate(180deg);
			transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
	position: absolute;
	top: 50%;
	right: 15px;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	width: 20px;
	opacity: 0.3;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}
.select-box__value {
	display: -webkit-box;
	display: flex;
}
.select-box__input {
	display: none;
}
.select-box__input:checked + .select-box__input-text {
	display: block;
}
.select-box__input-text {
	display: none;
	width: 100%;
	margin: 0;
	background: none;
	border: none;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
	-webkit-appearance: none;
	padding: 0.5em 3em 0.5em 1em;
	color: #fff;
	border-bottom: 1px solid #ccc;
	text-transform: initial;
}
.select-box__input-text.default {
	color: #aaa;
}
.select-box__list {
	position: absolute;
	width: 100%;
	padding: 0;
	list-style: none;
	opacity: 0;
	background: rgba(255,255,255,0.925);
	-webkit-animation-name: HideList;
			animation-name: HideList;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s;
	-webkit-animation-delay: 0.5s;
			animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-timing-function: step-start;
			animation-timing-function: step-start;
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	transition: all 0.25s ease-in-out;
	z-index: 1;
}
.select-box__list {
	margin: 0;
}
.select-box__option {
	display: block;
	color: #333;
	padding: 0.5em 1em;
	text-transform: initial;
}
.select-box__option:hover,
.select-box__option:focus {
	background-color: #fff;
}

@-webkit-keyframes HideList {
	from {
		-webkit-transform: scaleY(1);
				transform: scaleY(1);
	}
	to {
		-webkit-transform: scaleY(0);
				transform: scaleY(0);
	}
}

@keyframes HideList {
	from {
		-webkit-transform: scaleY(1);
				transform: scaleY(1);
	}
	to {
		-webkit-transform: scaleY(0);
				transform: scaleY(0);
	}
}

#moreInfo button,
#quiz button {
	padding: 1em;
	background: #fc0078;
	border: 0;
	border-radius: 0.1em;
	font-size: 1.25em;
	transition: background 0.5s ease-in-out;
	width: 60%;
	margin-left: 20%;
}

#moreInfo button:hover,
#quiz button:hover {
	cursor: pointer;
}

#moreInfo input[type=text],
#moreInfo button,
#quiz input[type=text] {
	width: 100%;
}

.little-opacity {
	opacity: 0.3;
}

#arrow {
	display: none;
	position: absolute;
	height: 24vh;
	top: calc(50% - 6em);
	left: 12%;
	transform: translate(-50%,-50%) rotate(23deg);
}

#arrowLabel {
	display: none;
	position: absolute;
	top: calc(27vh - 4em);
	left: 14%;
	width: 100%;
	text-align: left;
}

.additionals {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.additionals h2 {
	padding: 0.5em 1em;
	font-size: 1em;
	font-weight: normal;
	width: calc(100% - 2em);
	text-align: center;
	text-transform: initial;
}

.additional {
	padding: 0 0.5em;
}

@media (orientation: portrait) {
	/*#logo {
		display: initial;
	}*/
}

@media (min-width:25.063rem) { /* >=iPhone 8 plus */
}

@media (min-width:40.063rem) and (orientation: portrait) { /* >= планшет вертикальный, комп с низким разрешением */
	.notMob {
		display: initial;
	}

	#content h1 {
		font-size: 6.5vw;
	}

	#logo {
		display: block;
		top: 2em;
		left: 2em;
		width: 12vw;
	}

	#quizButton {
		top: 2em;
		left: initial;
		right: 2em;
		font-size: 110%;
		transform: initial;
	}

	#moreInfoButton {
		left: initial;
		transform: initial;
		right: 2em;
		bottom: 2em;
		font-size: 110%;
	}
}

@media (max-width:56rem) {
	.additionals {
		display: block;
	}
}

@media (max-width:56rem) and (orientation: landscape) { /* >= телефон горизонтальный */
	.notMob {
		display: initial;
	}

	#content {
		width: 60%;
	}
	#content h1 {
		font-size: 6.5vw;
	}
	#content p {
		font-size: 1.9vw;
	}
	#content button {
		margin-bottom: -8em;
	}
	#moreInfoButton,
	#quizButton {
		display: none;
	}
}

@media (min-width:53.063rem) { /* >960px, tablet, landscape iPad, lo-res laptops ands desktops */
	.notMob {
		display: initial;
	}

	#logo {
		display: initial;
		top: 2em;
		left: 2em;
		width: 12vw;
	}

	#content {
		width: 70%;
	}

	#content h1 {
		font-size: 6vw;
	}

	#content p {
		font-size: 2.3vw;
	}

	#content button {
		font-size: 140%;
		margin-bottom: -18vh;
		width: initial;
	}

	#rangeContainer {
		top: 0.35em;
	}

	#triangle {
		margin: 6px 0 8px 0;
	}

	#priceText {
		font-size: initial;
	}

	#price {
		bottom: 35px;
	}

	#quizButton {
		top: 2em;
		left: initial;
		right: 2em;
		font-size: 110%;
		transform: initial;
	}

	#moreInfoButton {
		left: initial;
		transform: initial;
		right: 2em;
		bottom: 2em;
		font-size: 110%;
	}

	#arrow {
		height: 26vh;
		top: calc(50% - 7em);
		left: 14%;
	}

	#arrowLabel {
		left: 14.5%;
		top: calc(50% - 30vh);
		text-align: left;
		transform: initial;
		font-size: 0.85vw;
		width: 100%;
	}

	.select-box__input-text,
	.select-box__option,
	.additionals h2,
	.select-box__input-text.default {
		font-size: 1.5em;
	}
}

@media (min-width:1365px) {
	#arrow {
		height: 31vh;
		top: calc(50% - 6em);
	}

	#arrowLabel {
		top: calc(50% - 30.2vh);
	}
}