body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	background: #222;
}

body {
	padding: 1em;
}

@font-face {
	font-family: "AvenirNextW10"; 
	src: url("fonts/34b75a9eafbdc85526bcdf9cbc9ad211.eot"); 
	src: url("fonts/34b75a9eafbdc85526bcdf9cbc9ad211.eot") format("embedded-opentype"), 
		 url("fonts/34b75a9eafbdc85526bcdf9cbc9ad211.woff2") format("woff2"), 
		 url("fonts/34b75a9eafbdc85526bcdf9cbc9ad211.woff") format("woff"), 
		 url("fonts/34b75a9eafbdc85526bcdf9cbc9ad211.ttf") format("truetype"), 
		 url("fonts/34b75a9eafbdc85526bcdf9cbc9ad211.svg") format("svg"); 
}

* {
	color: #fff;
	text-transform: uppercase;
	font-family: "AvenirNextW10";
}

.notMob {
	display: none;
}

#content {
	position: absolute;
	top: 30%;
	width: calc(100% - 2em);
	text-align: center;
}

#content button {
	display: none;
	font-size: 120%;
	background: #00b160;
	border-radius: 0.1em;
	padding: 0.5em;
	border: none;
}

#content button:hover {
	cursor: pointer;
}

#moreInfoButton {
	text-transform: initial;
	background: #00b160;
	border-radius: 4em;
	opacity: 0.8;
	padding: 1.5em;
	border: none;
	text-align: center;
	transition: all 0.5s ease-in-out;
	position: absolute;
	right: 1em;
	bottom: 1em;
}

#moreInfoButton img {
	height: 3.5em;
	position: relative;
	top: 0.1em;
}

#moreInfoButton:hover {
	cursor: pointer;
	opacity: 1;
}

#moreInfoButton:hover img {
	transform: rotate(30deg);
}

#rangeContainer {
	width: calc(100% - 2em);
	position: absolute;
	bottom: 4em;
}

#range {
	width: 100%;
 	background: #fff;
 	border-radius: 8px;
 	height: 8px;
 	outline: none;
 	transition: background 450ms ease-in;
 	-webkit-appearance: none;
 	position: relative;
}

#range::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: #E9E9E9;
	border: 1px solid #CECECE;
	border-radius: 2em;
	height: 2em;
	width: 2em;
}

#labels {
	position: absolute;
	width: 100%;
	bottom: 1em;
}

.label {
	position: absolute;
	width: 100%;
	z-index: 0;
}

.label.less span {
	color: #aaa;
}

.line {
	border-left: 2px solid #fff;
	height: 3em;
}

.label.less .line {
	border-left: 2px solid #aaa;
}

.signature {
	position: absolute;
	transform: translate(-50%, 0%);
}

#moreInfo {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	display: none;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

#close {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	font-size: 200%;
	transition: all 0.5s ease-in-out;
}

#close:hover {
	color: red;
	cursor: pointer;
	transform: rotate(360deg);
}

form {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

input[type=text] {
	border: none;
	background: none;
	border-bottom: 1px solid #ccc;
	font-size: 1.5em;
}

#moreInfo input,
#moreInfo button,
#moreInfo label {
	margin-top: 2em;
	padding: 0.5em 1em;
	box-sizing: border-box;
}

input:focus{
    outline: none;
}

#moreInfo label {
	padding-left: 0.25em;
	font-style: italic;
	color: #ddd;
	text-transform: lowercase;
}

#moreInfo button {
	padding: 1em;
	background: #00b160;
	border: 0;
	border-radius: 1em;
	font-size: 1.25em;
	transition: background 0.5s ease-in-out;
}

#moreInfo button:hover {
	cursor: pointer;
	background: rgb(40, 117, 180);
}

#moreInfo input[type=text],
#moreInfo button {
	width: 100%;
}

@media (min-width:40.063rem) { /* >640px, portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	body {
		/*background: #222;*/
	}

	form {
		width: 50%;
	}

	.notMob {
		display: block;
	}

	#content {
		position: absolute;
		top: 20%;
	}
}

@media (min-width:60.063rem) { /* >960px, tablet, landscape iPad, lo-res laptops ands desktops */ 
	body {
		/*background: #444;*/
	}

	h1 {
		font-size: 400%;
	}

	#content button {
		font-size: 140%;
	}
}